body {
	background-color:	appworkspace;
	margin:				0px;
	padding:			0px;
}

#gameContener {
	float:				left;
	width:				900px;
	height:				100%;
	padding:			0px;
	margin:				0px;
	border:				0px solid black;
}

#main_canvas {
	border: 			none;
}

#space {
	float:				left;
	height:				100%;
	width:				30px;
	padding:			0px;
	margin:				0px;
	border:				0;
	text-align: 		left;
	background-image: 	url('./img/warning.png');
}

#panel {
	float:				left;
	height:				100%;
	width:				370;
	padding-left:		15px;
	padding-right:		15px;
	margin:				0px;
	border:				0;
	text-align: 		left;
	background-color: 	#dddddd;
	font-size: 			10;
}

#options {
	width:				inherit;
	max-height: 		220px;
	overflow-y:			auto;
}

#loadingPage {
	position:			fixed;
	top:				0px;
	left:				0px;
	height:				100%;
	width:				100%;
	padding-top:		100px;
	margin:				0px;
	text-align: 		center;
	text-shadow:		gray;
	background-color: 	#008800;
	visibility:			visible;
}

tr {
	font-size: 			10;
}

#logs {
	width:				inherit;
	max-height:			220px;
	overflow-y:			auto;
	background-color: 	#000000;
	font-size: 			inherit;
	color: 				#ffffff;
	font-family: 		monospace;
}